body {
	font-family: sans-serif;
	text-align: center;
	background-color: white;
}

.thaw-table-row {
	text-align: left;
}

.thaw-layout-sider {
	width: 250px; // Adjust the width of the slider
	height: 100%; // Full height of the page
	background-color: #white; // Slider background color (can be changed)
	position: fixed; // Fix the slider to the left
	left: 0;
	top: 0;
	z-index: 100; // Ensure it's above other content
	transition: transform 0.3s ease; // Optional: for sliding effect
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	z-index: 100;


    &:has(.feedback-card),
    &:has(.feedback-success-card) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.thaw-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

